h1,
h2,
table,
td,
th {
  font-family: monospace;
}

body {
  background: pink;
  font-size: 10px;
}

table,
tr,
td {
  border-collapse: separate;
  border: 1px solid black;
}

table {
  background: white;
}
